pydantic
pyqt6-sip
ollama
pyqt6==6.9.1
langgraph
python-dotenv
langchain-ollama
langchain-openai
qdrant-client
llama-index-vector-stores-qdrant
llama-index-embeddings-ollama
langchain
llama-index-core
langchain-core
llama-index-llms-ollama